extends layout

block content
  h1= title
  p Welcome to your #{title}
  p I have created this lab for us. 
  p I hope you will enjoy the test while you are improving your skills. 
  p Enjoy the process and push yourself to the next level!
