extends layout

block content
  h1= title
  p Welcome to your #{title}
  p Lab created for CS Team. 
  p Hopefully you will enjoy the test while you are improving your skills. 
  p Enjoy the process and push yourself to the next level!
  h2 prerequisites
  img(src='/images/shawarma.jpg' style='width:1000px; height:1000px;') 
  img(src='/images/coffee.jpeg' style='width:1000px; height:1000px;')